---
---

@charset 'utf-8';
@import url('https://cdn.jsdelivr.net/gh/jgthms/minireset.css/minireset.min.css');

{% for font in site.fonts %}
  @font-face {
    font: {
      family: {{ font.family }}-web;
      style: normal;
      display: block;
      {% case font.style %}
      {% when 'Bold' %} weight: 700; stretch: normal;
      {% when 'Condensed' %} weight: 400; stretch: condensed;
      {% else %} weight: 400; stretch: normal;
      {% endcase %}
    }
    src: url('../galmuri/dist/{{ font.file }}.woff2') format('woff2'),
         url('../galmuri/dist/{{ font.file }}.ttf') format('truetype');
  }
{% endfor %}

{% for font in site.fonts %}
  @mixin {{ font.file }}($size: 1) {
    font: {
      family: {{ font.family }}-web, sans-serif;
      {% case font.family %}
      {% when 'Galmuri14' %} size: 15px * $size;
      {% when 'Galmuri11' %} size: 12px * $size;
      {% when 'Galmuri9' %} size: 10px * $size;
      {% when 'Galmuri7' %} size: 8px * $size;
      {% when 'GalmuriMono11' %} size: 12px * $size;
      {% when 'GalmuriMono9' %} size: 10px * $size;
      {% when 'GalmuriMono7' %} size: 8px * $size;
      {% endcase %}
      {% case font.style %}
      {% when 'Bold' %} weight: 700; stretch: normal;
      {% when 'Condensed' %} weight: 400; stretch: condensed;
      {% else %} weight: 400; stretch: normal;
      {% endcase %}
    }
  }
{% endfor %}

@mixin desktop { @media (min-width: 720px) { @content; } }
@mixin widescreen { @media (min-width: 1280px) { @content; } }

$primary: #6171eb;
$anchor: #b6bef6;
$foreground: #fafafa;
$background: #18181b;
$background-light: #27272a;
$black: #09090b;
$padding: 10vw;
$cubic: cubic-bezier(0,0,0,1);
$duration: .15s;

:root {
  --primary: #6171eb;
  --anchor: #b6bef6;
  --foreground: #fafafa;
  --background: #18181b;
  --black: #09090b;
  --padding: 10vw;
  --cubic: cubic-bezier(0,0,0,1);
}
::selection { color: $foreground; background-color: $primary; }
html { scroll-behavior: smooth; }
body {
  accent-color: $primary;
  @include Galmuri9;
  font-size: 1rem;
  @include desktop { @include Galmuri9(2); }
  color: $foreground;
  background-color: $background;
  line-height: 1.5;
  word-break: keep-all;
}
.anchor {
  opacity: 0;
  visibility: hidden;
  font-weight: 400;
  transition: $duration $cubic;
}
h1 {
  margin-top: 2.5rem;
  @include Galmuri14;
  font-size: 1.5rem;
  @include desktop { @include Galmuri14(3); }
}
h2 {
  margin-top: 2.5rem;
  @include Galmuri11-Bold;
  font-size: 1.2rem;
  @include desktop { @include Galmuri11-Bold(2); }
  &:hover .anchor {
    opacity: 1;
    visibility: visible;
  }
}
h3 {
  margin-top: 1.5rem;
  &:hover .anchor {
    opacity: 1;
    visibility: visible;
  }
}
p { margin: .75rem 0; }
code, pre {
  @include GalmuriMono7;
  font-size: .8rem;
  @include desktop { @include GalmuriMono7(2); }
  white-space: pre-line;
  background-color: $black;
}
pre {
  padding: .625rem 1rem;
  &:not(.fea *) { margin: .75rem 0; }
}
.new::after {
  content: '';
  display: inline-block;
  background: {
    repeat: no-repeat;
    position: center;
    size: calc(100% - .125em * 2);
  }
  width: 1em;
  height: 1em;
  .btns &,
  small &,
  ol:not([class]) &,
  ul:not([class]) &,
  .splide__slide p & {
    background-size: 100%;
  }
}
select, input:not([type="checkbox"]):not([type="radio"]), textarea {
  transition: background-color, border-color $duration $cubic;
  @include Galmuri7;
  font-size: .8rem;
  @include desktop { @include Galmuri7(2); }
  max-width: 100%;
  line-height: 1.5;
  border: .125rem solid transparent;
  padding: .625rem 1rem;
  color: $foreground;
  background-color: $black;
  &:focus {
    outline: none;
    background-color: $background;
    border-color: $foreground;
  }
}
input[type="number"] {
  font-variant-numeric: tabular-nums;
}
#test-control {
  margin-top: .75rem;
  display: flex;
  align-items: center;
  gap: .75rem 1rem;
  flex-wrap: wrap;
  div { display: flex; gap: .75rem; align-items: center; }
  input[type=range] {
    flex: 1;
    width: 16rem;
  }
  #test-size-indicator { font-variant-numeric: tabular-nums; }
}
a {
  color: $anchor;
  text-decoration: none;
  &:hover { text-decoration: underline; }
  &.new::after {
    background-image: url('../assets/new-anchor.svg');
    .btns &,
    small &,
    ol:not([class]) &,
    ul:not([class]) &,
    .splide__slide p & {
      margin: 0 .125em;
    }
  }
}
img {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  max-width: 100%;
  max-height: 100%;
}
small {
  @include Galmuri7;
  font-size: .8rem;
  @include desktop { @include Galmuri7(2); }
  display: block;
  color: #{$foreground}3f;
  a {
    opacity: .5;
  }
}
hr {
  height: 2px;
  border: none;
  background-color: #{$foreground}3f;
  margin: .75rem 0;
}
table:not([class]) {
  min-width: 18rem;
  margin: .75rem 0;
  @include Galmuri7;
  font-size: .8rem;
  @include desktop { @include Galmuri7(2); }
  th {
    font-weight: 400;
  }
  th, td {
    padding: .625rem calc(1rem - .125rem) .625rem 1rem;
    border: .125rem solid #{$foreground}3f;
  }
}
.btns {
  display: flex;
  margin: {
    top: 1rem;
    bottom: 1rem;
  }
  gap: .75rem;
  flex-wrap: wrap;
}
.btn {
  @include Galmuri7;
  font-size: .8rem;
  @include desktop { @include Galmuri7(2); }
  line-height: 1.5;
  transition: $duration $cubic;
  color: $black;
  background-color: $foreground;
  padding: .625rem calc(1rem - .125em) .625rem 1rem;
  box-shadow: 0 0 0 $primary;
  text-decoration: none;
  border: .125rem solid $foreground;
  cursor: pointer;
  &:focus { border-color: $primary; }
  &:hover {
    box-shadow: .25em .25em 0 $primary;
    transform: translate(-.25em, -.25em);
    text-decoration: none;
  }
  &:active {
    color: $foreground;
    background-color: $primary;
    border-color: $primary;
    box-shadow: 0 0 0 $primary;
    transform: none;
  }
  &.new { padding-right: calc(1rem - .125em * 2); }
  &.new::after {
    background-image: url('../assets/new.svg');
    margin-left: .375em;
  }
  &.new:active::after { background-image: url('../assets/new-white.svg'); }
  &.outline {
    background-color: transparent;
    color: $foreground;
    &:active { background-color: $primary; }
    &.new::after { background-image: url('../assets/new-white.svg'); }
  }
}
.fea {
  margin: .75rem 0;
  display: flex;
  gap: .75rem;
  flex-direction: column;
  @include desktop { flex-direction: row; }
  pre {
    @include Galmuri11;
    font-size: 1.2rem;
    @include desktop { @include Galmuri11(2); }
    flex: 1;
    span { color: $anchor; }
  }
  &.kern {
    pre:first-child { font-feature-settings: 'kern' 0; font-kerning: none; }
    pre:last-child { font-feature-settings: 'kern' 1; font-kerning: normal; }
  }
  &.tnum {
    pre:first-child { font-feature-settings: 'tnum' 0; font-variant-numeric: normal; }
    pre:last-child { font-feature-settings: 'tnum' 1; font-variant-numeric: tabular-nums; }
  }
  &.zero {
    pre:first-child { font-feature-settings: 'zero' 0; font-variant-numeric: normal; }
    pre:last-child { font-feature-settings: 'zero' 1;  font-variant-numeric: slashed-zero; }
  }
}
main {
  margin-top: 4rem;
  > :not(.splide) {
    margin: {
      left: $padding;
      right: $padding;
    }
  }
  p, table:not([class]) {
    max-width: 100%;
    @include desktop { max-width: 70vw; }
    @include widescreen { max-width: 60vw; }
  }
  ol:not([class]) {
    margin: {
      top: .75rem;
      bottom: .75rem;
    }
    @include Galmuri7;
    font-size: .8rem;
    @include desktop { @include Galmuri7(2); }
    padding-left: 20px;
    position: relative;
    li {
      margin: .5rem 0;
    }
  }
  ul:not([class]) {
    margin: {
      top: .75rem;
      bottom: .75rem;
    }
    @include Galmuri7;
    font-size: .8rem;
    @include desktop { @include Galmuri7(2); }
    padding-left: 1em;
    list-style-type: none;
    position: relative;
    li {
      margin: .5rem 0;
      &::before {
        content: '\2022';
        left: 2px;
        position: absolute;
      }
    }
  }
  details {
    margin: .75rem 0;
    summary { cursor: pointer; }
  }
  textarea {
    display: block;
    @include Galmuri11;
    font-size: 1.2rem;
    @include desktop { @include Galmuri11(4); }
    color: $foreground;
    margin: .75rem 0;
    padding: .625rem 1rem;
    resize: none;
    // height: calc(40px * 6 + .625rem * 2);
    // min-height: calc(32px * 2 + .625rem * 2);
    background-color: $black;
    width: calc(100% - var(--padding) * 2);
    &:focus-visible { outline: none; }
  }
}
footer {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin: 0 $padding;
  margin-top: 3rem;
  margin-bottom: 4rem;
}
#title {
  white-space: nowrap;
  position: relative;
  padding: {
    top: $padding;
    bottom: $padding;
  }
  display: flex;
  align-items: flex-start;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  @include desktop { justify-content: flex-start; }
  h1 {
    // padding-left: .125em;
    margin-top: -.125em;
    display: block;
    @include Galmuri7;
    font-size: 19vw;
    @include desktop { @include Galmuri7(15); }
    text-shadow: .125em 0 0 $primary, -.125em 0 0 $primary, 0 .125em 0 $primary, 0 -.125em 0 $primary, .125em .125em 0 $primary, -.125em -.125em 0 $primary, .125em -.125em 0 $primary, -.125em .125em 0 $primary, 0 .125em 0 $primary, -.125em .125em 0 $primary, .125em .125em 0 $primary;
  }
  .sub {
    @include Galmuri9;
    font-size: 8vw;
    @include desktop { @include Galmuri9(5); }
    span {
      display: block;
      position: relative;
      opacity: 0;
      &:first-child::before { content: '작은 크기에서도'; }
      &:nth-child(2)::before { content: '가독성 좋고 균형 있는'; }
      &:last-child::before { content: '한글 비트맵 폰트'; }
      &::before { position: absolute; top: 0; right: 0; bottom: 0; left: 0; text-shadow: 0 0 0 currentColor; opacity: .25; z-index: -1; }
    }
  }
  .btns {
    opacity: 0;
    margin: 1.5rem 0 0 0;
  }
  small {
    font-size: .8rem;
    @include desktop { @include Galmuri7(2); }
    opacity: 0;
    position: absolute;
    bottom: calc(var(--padding) * (3 / 4));
  }
  &.show {
    h1 {
      animation: title .5s $cubic forwards;
    }
    div {
      span {
        &:first-child { animation: fade-in .5s $cubic forwards, slide-in-up .5s $cubic forwards; }
        &:nth-child(2) { animation: fade-in .5s .1s $cubic forwards, slide-in-up .5s .1s $cubic forwards; }
        &:last-child { animation: fade-in .5s .2s $cubic forwards, slide-in-up .5s .2s $cubic forwards; }
        &::before { animation: subtitle .5s .8s $cubic forwards; }
      }
    }
    .btns { animation: fade-in .5s .3s $cubic forwards, slide-in-up .5s .23s $cubic forwards; }
    small { animation: fade-in .5s 1.5s $cubic forwards; }
  }
}
#error {
  padding: {
    top: $padding;
    bottom: $padding;
  }
  h1 {
    @include Galmuri11-Bold;
    font-size: 24vw;
    @include desktop { @include Galmuri11-Bold(12); }
    line-height: 1;
  }
  p {
    @include Galmuri9;
    font-size: 6vw;
    @include desktop { @include Galmuri9(3); }
    margin: 1rem 0;
  }
  .btns {
    margin: 1.5rem 0 0 0;
  }
}
.splide {
  margin: {
    top: .75rem;
    bottom: .75rem;
  }
  .splide__track {
    overflow-x: clip;
    overflow-y: visible;
  }
  .splide__slide {
    &::before, img {
      height: calc(100% - .5rem - .8rem * 1.5);
      @include desktop {
        height: calc(100% - .5rem - 16px * 1.5);
      }
    }
    p {
      margin: .5rem 0 0 0;
      @include Galmuri7;
      font-size: .8rem;
      @include desktop { @include Galmuri7(2); }
    }
    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
      display: block;
      filter: blur(1rem);
      z-index: -1;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}
.download {
  margin: .75rem 0;
  background-color: $black;
  display: grid;
  padding: 1rem;
  gap: 1rem;
  grid-template-columns: 1fr;
  @include desktop { grid-template-columns: 1fr 1fr; }
  @include widescreen { grid-template-columns: 1fr 1fr 1fr; }
  .item {
    padding: 1rem;
    background-color: $background;
    h3 { margin: 0; }
    .btns { margin-bottom: 0; }
  }
}
#donate {
  display: flex;
  margin-top: .75rem;
  margin-bottom: .75rem;
  gap: .5rem;
  a {
    max-width: 50%;
    img {
      background-color: #fff;
      image-rendering: auto;
      width: 16rem;
    }
  }
}
@keyframes b {
  0%, 50% { transform: rotate(0); }
  25%, 75% { transform: rotate(-25deg); }
}
@keyframes fade-in {
  to { opacity: 1; }
}
@keyframes slide-in-up {
  from { transform: translateY(100%); }
}
@keyframes title {
  to { text-shadow: .125em 0 0 $primary, -.125em 0 0 $primary, 0 .125em 0 $primary, 0 -.125em 0 $primary, .125em .125em 0 $primary, -.125em -.125em 0 $primary, .125em -.125em 0 $primary, -.125em .125em 0 $primary, 0 .25em 0 $primary, -.125em .25em 0 $primary, .125em .25em 0 $primary; transform: translateY(-.125em); }
}
@keyframes subtitle {
  to { text-shadow: .1em .1em 0 currentColor; }
}
@keyframes charset-flash {
  0%    { background-color: $background; color: $foreground; }
  20%   { background-color: $foreground; color: $background; }
  20.1% { background-color: $background; color: $foreground; }
  40%   { background-color: $background; color: $foreground; }
  40.1% { background-color: $foreground; color: $background; }
  60%   { background-color: $foreground; color: $background; }
  100%  { background-color: $background; color: $foreground; }
}
#palette {
  display: flex;
  position: absolute;
  top: 0;
  left: calc(100% + .5rem);
  width: 20rem;
  background-color: $black;
  z-index: 99;
  padding: .5rem;

  .palette-grid {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    gap: 0;
    width: 100%;
  }
  .palette-grid div {
    cursor: pointer;
    aspect-ratio: 1 / 1;
  }
}
.sample {
  @include Galmuri7(10);
  display: flex;
  justify-content: center;
  padding: .125em;
  padding-right: 0;
  line-height: 1.125;
  &.outline-sharp {
    text-shadow: .125em 0 0 $primary, -.125em 0 0 $primary, 0 .125em 0 $primary, 0 -.125em 0 $primary, .125em .125em 0 $primary, -.125em -.125em 0 $primary, .125em -.125em 0 $primary, -.125em .125em 0 $primary;
  }
  &.outline-smooth {
    text-shadow: .125em 0 0 $primary, -.125em 0 0 $primary, 0 .125em 0 $primary, 0 -.125em 0 $primary;
  }
  &.shadow-smooth {
    text-shadow: .125em .125em 0 $primary;
  }
  &.shadow-sharp {
    text-shadow: .125em .125em 0 $primary, .125em 0 0 $primary, 0 .125em 0 $primary;
  }
}