---
---

@charset 'utf-8';

@mixin desktop { @media (min-width: 720px) { @content; } }
@mixin widescreen { @media (min-width: 1280px) { @content; } }

$primary: #6171eb;

noscript,
#test,
#test-control {
  display: none;
}

.noscript { display: block; }

#title {
  h1 { text-shadow: .125em 0 0 $primary, -.125em 0 0 $primary, 0 .125em 0 $primary, 0 -.125em 0 $primary, .125em .125em 0 $primary, -.125em -.125em 0 $primary, .125em -.125em 0 $primary, -.125em .125em 0 $primary, 0 .25em 0 $primary, -.125em .25em 0 $primary, .125em .25em 0 $primary; transform: translateY(-.125em); }
  .sub {
    span {
      opacity: 1;
      &::before { text-shadow: .1em .1em 0 currentColor; }
    }
  }
  .btns { opacity: 1; }
  small { opacity: 1; }
}

section.splide {
  visibility: visible;
  margin-left: 10vw;
  margin-right: 10vw;

  .splide__track {
    overflow-x: visible;

    .splide__list {
      $gap: 1em;
      display: block;
      column-gap: $gap;
      column-count: 1;
      @include desktop { column-count: 2; }
      @include widescreen { column-count: 3; }

      .splide__slide {
        margin: 0;
        display: grid;
        grid-template-rows: 1fr auto;
        margin-bottom: $gap;
        break-inside: avoid;

        &::before {
          background-position: 0% 0%;
        }

        img {
          grid-row: 1 / -1;
          grid-column: 1;
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

#generator { display: none !important; }
