---
layout: default
title: 폰트 이미지 생성기
---

<style>
  .generator { display: flex; justify-content: space-between; gap: 1rem; }
  .canvas-wrap { flex: 1; display: flex; justify-content: center; align-items: center; }
  #image { max-width: 100%; }
  input:not([type="checkbox"]) { width: 10rem; font-variant-numeric: tabular-nums; }
  .form { display: flex; flex-direction: column; gap: 12px; }
  .form > div { display: flex; align-items: center; gap: .5rem; }
  .btns { margin: 0; }
  .form .outline-use { display: none; }
</style>

<div class="generator">
  <form class="form">
    <div>
      <label for="font">폰트:</label>
      <select id="font">
        {% for font in site.fonts %}
          <option value="{{ font.file }}" {% if font.style == 'Monospaced' %} hidden{% elsif font.name == 'Galmuri11' %}selected{% endif %}>{{ font.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div>
      <label for="charset">한글 음절 집합:</label>
      <select id="charset">
        <option value="set2350" selected>2350자</option>
        <option value="set2355">2355자</option>
        <option value="set2780">2780자</option>
        <option value="set4358">4358자</option>
        <option value="set11172">11172자</option>
      </select>
    </div>
    <div><label for="x-offset">오프셋:</label><input id="x-offset" type="number" value="0">, <input id="y-offset" type="number" value="0"></div>
    <div><label for="tile-width">타일 크기:</label><input id="tile-width" type="number" value="16"> × <input id="tile-height" type="number" value="16"></div>
    <div><label for="tile-column">열 수:</label><input id="tile-column" type="number" value="32"></div>
    <div><label for="foreground">전경색:</label><input id="foreground" type="text" value="#63cf63"></div>
    <div><label for="background">배경색:</label><input id="background" type="text" value="#000"></div>
    <div><input type="checkbox" id="outline-use"><label for="outline-use">외곽선</label></div>
    <div class="outline-use"><label for="outline-color">외곽선 색:</label><input id="outline-color" type="text" value="#3933ff"></div>
    <div class="outline-use">
      <label for="outline-type">외곽선 유형:</label>
      <select id="outline-type">
        <option value="sharp" selected>모서리 유지</option>
        <option value="smooth">모서리 깎기</option>
      </select>
    </div>
    <div class="btns">
      <button type="button" id="load" class="btn">만들기</button>
      <a id="download" class="btn outline" download style="display: none;">다운로드</a>
    </div>
    <small>‘다운로드’를 누르기 전에 먼저 ‘만들기’를 눌러 주세요.</small>
  </form>
  <div class="canvas-wrap"><canvas id="image"></canvas></div>
</div>

<hr>

<p>각 한글 음절 집합에 대한 설명은 다음과 같습니다.</p>

<ul>
  <li>2350자: <a href="https://www.unicode.org/Public/MAPPINGS/OBSOLETE/EASTASIA/KSC/KSX1001.TXT" class="new" target="_blank" rel="noreferrer noopener">KS X 1001</a>의 모든 한글 음절.</li>
  <li>2355자: KS X 1001의 모든 한글 음절에 뢔, 쌰, 쎼, 쓔, 쬬 5자가 추가된 집합.</li>
  <li>2780자: <a href="https://raw.githubusercontent.com/adobe-type-tools/Adobe-KR/master/Adobe-KR-9.pdf" class="new" target="_blank" rel="noreferrer noopener">Adobe-KR-0</a>의 모든 한글 음절. KS X 1001의 2350자를 포함합니다.</li>
  <li>4358자: Adobe-KR-0과 <a href="https://raw.githubusercontent.com/adobe-type-tools/Adobe-KR/master/Adobe-KR-9.pdf" class="new" target="_blank" rel="noreferrer noopener">Adobe-KR-1</a>의 모든 한글 음절. KS X 1001, KS X 1002, <a href="https://www.unicode.org/L2/L2018/18011-info-kps9566-2011.pdf" class="new" target="_blank" rel="noreferrer noopener">KPS 9566</a>, <a href="https://ccjktype.fonts.adobe.com/wp-content/uploads/2014/12/gb12052-uni.txt" class="new" target="_blank" rel="noreferrer noopener">GB/T 12052</a>의 모든 한글 음절을 포함합니다.</li>
  <li>11172자: 현대 한글의 모든 음절.</li>
</ul>

<p>Galmuri7은 11172자를 지원하지 않습니다.</p>

<script src="./assets/bdf.js"></script>
<script src="./assets/charsets.js"></script>
<script>
  const id = s => document.getElementById(s),
        ctx = id('image').getContext('2d'),
        outline = document.querySelectorAll('.outline-use'),
        outlineSharp = [[0, 1], [0, -1], [1, 0], [-1, 0], [1, 1], [-1, -1], [1, -1], [-1, 1]],
        outlineSmooth = [[0, 1], [0, -1], [1, 0], [-1, 0]];

  id('load').addEventListener('click', function() {
    let font = id('font').value,
        charset = id('charset').value,
        xOffset = parseInt(id('x-offset').value),
        yOffset = parseInt(id('y-offset').value),
        tileWidth = parseInt(id('tile-width').value),
        tileHeight = parseInt(id('tile-height').value),
        tileColumn = parseInt(id('tile-column').value),
        foreground = id('foreground').value,
        background = id('background').value,
        outlineColor = id('outline-color').value,
        outlineType = id('outline-type').value;

    ctx.reset();

    let regex = new RegExp('.{1,' + tileColumn + '}', 'g');
    let set = charsets[charset].match(regex);

    id('image').width = tileWidth * tileColumn;
    id('image').height = tileHeight * set.length;
    id('image').style.aspectRatio = id('image').width / id('image').height;

    switch (font) {
      {% for font in site.fonts %}
        case '{{ font.file }}':
          ctx.font = '{% case font.style %}{% when 'Bold' %}bold {% when 'Condensed' %}condensed {% endcase %}{{ font.size }}px {{ font.family }}-web';
          fetch('./galmuri/dist/{{ font.file }}.bdf').then(data => data.text()).then(text => {
            let bdf = new BDF(text);
            for (let i = 0; i < set.length; i++) {
              ctx.fillStyle = background;
              ctx.fillRect(
                0,
                i * tileHeight,
                set[i].length * tileWidth,
                tileHeight
              );
              if (id('outline-use').checked) {
                switch (outlineType) {
                  case 'sharp':
                    for (let j = 0; j < outlineSharp.length; j++) {
                      bdf.drawText(set[i], id('image'), {
                        colour: outlineColor,
                        x: xOffset + (outlineSharp[j][0] + 1),
                        y: (i * tileHeight + yOffset) + (outlineSharp[j][1] + 1),
                        kerningBias: tileWidth - {% if font.style == 'Condensed' %}{{ font.size | minus: 4 }}{% else %}{{ font.size }}{% endif %}
                      });
                    }
                    break;
                  case 'smooth':
                    for (let j = 0; j < outlineSmooth.length; j++) {
                      bdf.drawText(set[i], id('image'), {
                        colour: outlineColor,
                        x: xOffset + (outlineSmooth[j][0] + 1),
                        y: (i * tileHeight + yOffset) + (outlineSmooth[j][1] + 1),
                        kerningBias: tileWidth - {% if font.style == 'Condensed' %}{{ font.size | minus: 4 }}{% else %}{{ font.size }}{% endif %}
                      });
                    }
                    break;
                }
                bdf.drawText(set[i], id('image'), {
                  colour: foreground,
                  x: xOffset + 1,
                  y: (i * tileHeight + yOffset) + 1,
                  kerningBias: tileWidth - {% if font.style == 'Condensed' %}{{ font.size | minus: 4 }}{% else %}{{ font.size }}{% endif %}
                });
              } else {
                bdf.drawText(set[i], id('image'), {
                  colour: foreground,
                  x: xOffset,
                  y: i * tileHeight + yOffset,
                  kerningBias: tileWidth - {% if font.style == 'Condensed' %}{{ font.size | minus: 4 }}{% else %}{{ font.size }}{% endif %}
                });
              }
            }
          });
          break;
      {% endfor %}
    }

    id('download').style.display = 'block';
  });

  id('download').addEventListener('click', (e) => {
    e.target.href = id('image').toDataURL();
  });

  id('outline-use').addEventListener('change', function() {
    if (this.checked) {
      outline.forEach(e => e.style.display = 'flex');
    } else {
      outline.forEach(e => e.style.display = 'none');
    }
  });
</script>