---
layout: default
title: 폰트 이미지 생성기
---

<style>
  .generator { display: flex; justify-content: space-between; gap: 1rem; }
  .canvas-wrap { flex: 1; display: flex; justify-content: center; align-items: center; }
  #image { max-width: 100%; }
  input:not([type="checkbox"]):not([type="radio"]) { width: 10rem; }
  .form { display: flex; flex-direction: column; align-items: flex-start; gap: 12px; }
  .form > div { display: flex; align-items: center; gap: .5rem; position: relative; }
  .btns { margin: 0; }
  .form .outline-use,
  .form .shadow-use { display: none; }
</style>

<div class="generator">
  <form class="form">
    <div>
      <label for="font">폰트:</label>
      <select id="font">
        {% for font in site.fonts %}
          <option value="{{ font.file }}" {% if font.style == 'Monospaced' %} hidden{% elsif font.name == 'Galmuri11' %}selected{% endif %}>{{ font.name }}</option>
        {% endfor %}
        <option value="bdf">파일 선택 (BDF)</option>
      </select>
    </div>
    <div>
      <label for="charset">문자 집합:</label>
      <select id="charset">
        <option value="set2350" selected>한글 음절 2350자</option>
        <option value="set2355">한글 음절 2355자</option>
        <option value="set2780">한글 음절 2780자</option>
        <option value="set4358">한글 음절 4358자</option>
        <option value="set11172">한글 음절 11172자</option>
        <option value="setKanji6355sjis">일본 한자 6355자 (Shift_JIS 순서)</option>
        <option value="setKanji6355unicode">일본 한자 6355자 (Unicode 순서)</option>
      </select>
    </div>
    <div><label for="x-offset">오프셋:</label><input id="x-offset" type="number" value="0">, <input id="y-offset" type="number" value="0"></div>
    <div><label for="tile-width">타일 크기:</label><input id="tile-width" type="number" value="16"> × <input id="tile-height" type="number" value="16"></div>
    <div><label for="tile-column">열 수:</label><input id="tile-column" type="number" value="32"></div>
    <div>
      <label for="foreground">전경색:</label>
      <input id="foreground" type="text" value="#63cf63">
      <button type="button" class="btn outline palette" onclick="palette(this)">팔레트 (TLP)</button>
    </div>
    <div>
      <label for="background">배경색:</label>
      <input id="background" type="text" value="#000">
      <button type="button" class="btn outline palette" onclick="palette(this)">팔레트 (TLP)</button>
    </div>
    <div><input type="checkbox" id="outline-use"><label for="outline-use">외곽선</label></div>
    <div class="outline-use">
      <label for="outline-color">외곽선 색:</label>
      <input id="outline-color" type="text" value="#3933ff">
      <button type="button" class="btn outline palette" onclick="palette(this)">팔레트 (TLP)</button>
    </div>
    <div class="outline-use">
      <label for="outline-type">외곽선 유형:</label>
      <select id="outline-type">
        <option value="sharp" selected>모서리 유지</option>
        <option value="smooth">모서리 깎기</option>
      </select>
    </div>
    <div><input type="checkbox" id="shadow-use"><label for="shadow-use">그림자</label></div>
    <div class="shadow-use">
      <label for="shadow-color">그림자 색:</label>
      <input id="shadow-color" type="text" value="#3933ff">
      <button type="button" class="btn outline palette" onclick="palette(this)">팔레트 (TLP)</button>
    </div>
    <div class="shadow-use">
      <label for="shadow-type">그림자 유형:</label>
      <select id="shadow-type">
        <option value="smooth" selected>기본</option>
        <option value="sharp">감싸기</option>
      </select>
    </div>
    <div class="btns">
      <button type="button" id="load" class="btn">만들기</button>
      <a id="download" class="btn outline" download style="display: none;">다운로드</a>
    </div>
    <small>‘다운로드’를 누르기 전에 먼저 ‘만들기’를 눌러 주세요.</small>
  </form>
  <div class="canvas-wrap"><canvas id="image"></canvas></div>
</div>

<p>Safari는 지원하지 않습니다. Chrome 또는 Firefox에서 사용해 주세요.</p>

<h2>문자 집합</h2>

<ul>
  <li>한글 음절 2350자: <a href="https://www.unicode.org/Public/MAPPINGS/OBSOLETE/EASTASIA/KSC/KSX1001.TXT" class="new" target="_blank" rel="noreferrer noopener">KS X 1001</a>의 모든 한글 음절.</li>
  <li>한글 음절 2355자: KS X 1001의 모든 한글 음절에 뢔, 쌰, 쎼, 쓔, 쬬 5자가 추가된 집합.</li>
  <li>한글 음절 2780자: <a href="https://raw.githubusercontent.com/adobe-type-tools/Adobe-KR/master/Adobe-KR-9.pdf" class="new" target="_blank" rel="noreferrer noopener">Adobe-KR-0</a>의 모든 한글 음절. KS X 1001의 2350자를 포함합니다.</li>
  <li>한글 음절 4358자: Adobe-KR-0과 <a href="https://raw.githubusercontent.com/adobe-type-tools/Adobe-KR/master/Adobe-KR-9.pdf" class="new" target="_blank" rel="noreferrer noopener">Adobe-KR-1</a>의 모든 한글 음절. KS X 1001, KS X 1002, <a href="https://www.unicode.org/L2/L2018/18011-info-kps9566-2011.pdf" class="new" target="_blank" rel="noreferrer noopener">KPS 9566</a>, <a href="https://ccjktype.fonts.adobe.com/wp-content/uploads/2014/12/gb12052-uni.txt" class="new" target="_blank" rel="noreferrer noopener">GB/T 12052</a>의 모든 한글 음절을 포함합니다.</li>
  <li>한글 음절 11172자: 현대 한글의 모든 음절.</li>
  <li>일본 한자 6355자: <a href="https://www.unicode.org/Public/MAPPINGS/OBSOLETE/EASTASIA/JIS/SHIFTJIS.TXT" class="new" target="_blank" rel="noreferrer noopener">Shift_JIS</a>의 모든 한자.</li>
</ul>

<p>Galmuri7은 한글 음절 11172자를 지원하지 않습니다.</p>

<p>Galmuri11 Bold 및 Galmuri11 Condensed는 한자를 지원하지 않습니다.</p>

<h2>외곽선 및 그림자 유형</h2>

<h3>외곽선</h3>

<table>
  <thead>
    <th>모서리 유지</th>
    <th>모서리 깎기</th>
  </thead>
  <tbody>
    <td><div class="sample outline-sharp">한</div></td>
    <td><div class="sample outline-smooth">한</div></td>
  </tbody>
</table>

<h3>그림자</h3>

<table>
  <thead>
    <th>기본</th>
    <th>감싸기</th>
  </thead>
  <tbody>
    <td><div class="sample shadow-smooth">한</div></td>
    <td><div class="sample shadow-sharp">한</div></td>
  </tbody>
</table>

<script src="./assets/bdf.js"></script>
<script src="./assets/charsets.js?ver=2"></script>
<script src="./assets/palettes.js"></script>
<script>
  const id = s => document.getElementById(s),
        ctx = id('image').getContext('2d'),
        reader = new FileReader(),
        fontUpload = document.createElement('input'),
        outline = document.querySelectorAll('.outline-use'),
        outlineSharp = [[0, 1], [0, -1], [1, 0], [-1, 0], [1, 1], [-1, -1], [1, -1], [-1, 1]],
        outlineSmooth = [[0, 1], [0, -1], [1, 0], [-1, 0]],
        shadow = document.querySelectorAll('.shadow-use'),
        shadowSharp = [[1, 1], [0, 1], [1, 0]],
        shadowSmooth = [[1, 1]],
        shadowSharpOutlineSharp = [[1, 1], [0, 1], [1, 0], [1, -1], [-1, 1], [1, -2], [-2, 1]],
        shadowSmoothOutlineSharp = [[1, 1], [0, 1], [1, 0], [1, -1], [-1, 1]],
        shadowSharpOutlineSmooth = [[0, 0], [0, 1], [1, 0], [-1, 1], [1, -1], [-2, 0], [0, -2]],
        shadowSmoothOutlineSmooth = [[0, 0], [0, 1], [1, 0]];

  fontUpload.type = 'file';
  fontUpload.accept = '.bdf';

  id('load').addEventListener('click', function() {
    let font = id('font').value,
        charset = id('charset').value,
        xOffset = parseInt(id('x-offset').value),
        yOffset = parseInt(id('y-offset').value),
        tileWidth = parseInt(id('tile-width').value),
        tileHeight = parseInt(id('tile-height').value),
        tileColumn = parseInt(id('tile-column').value),
        foreground = id('foreground').value,
        background = id('background').value,
        outlineColor = id('outline-color').value,
        outlineType = id('outline-type').value,
        shadowColor = id('shadow-color').value,
        shadowType = id('shadow-type').value,
        regex = new RegExp('.{1,' + tileColumn + '}', 'g'),
        set = charsets[charset].match(regex);

    ctx.reset();

    id('image').width = tileWidth * tileColumn;
    id('image').height = tileHeight * set.length;
    id('image').style.aspectRatio = id('image').width / id('image').height;

    switch (font) {
      {% for font in site.fonts %}
        case '{{ font.file }}':
          fetch('./galmuri/dist/{{ font.file }}.bdf').then(data => data.text()).then(text => {
            let bdf = new BDF(text);
            let w = bdf.glyphs[44032] ? bdf.glyphs[44032].deviceWidthX : bdf.glyphs[12288].deviceWidthX;
            for (let i = 0; i < set.length; i++) {
              ctx.fillStyle = background;
              ctx.fillRect(0, i * tileHeight, set[i].length * tileWidth, tileHeight);
              if (id('outline-use').checked) {
                switch (outlineType) {
                  case 'sharp':
                    if (id('shadow-use').checked) {
                      switch (shadowType) {
                        case 'sharp':
                          for (let j = 0; j < shadowSharpOutlineSharp.length; j++) {
                            bdf.drawText(set[i], id('image'), {
                              colour: shadowColor,
                              x: xOffset + (shadowSharpOutlineSharp[j][0] + 2),
                              y: (i * tileHeight + yOffset) + (shadowSharpOutlineSharp[j][1] + 2),
                              kerningBias: tileWidth - w
                            });
                          }
                          break;
                        case 'smooth':
                          for (let j = 0; j < shadowSmoothOutlineSharp.length; j++) {
                            bdf.drawText(set[i], id('image'), {
                              colour: shadowColor,
                              x: xOffset + (shadowSmoothOutlineSharp[j][0] + 2),
                              y: (i * tileHeight + yOffset) + (shadowSmoothOutlineSharp[j][1] + 2),
                              kerningBias: tileWidth - w
                            });
                          }
                          break;
                      }
                    }
                    for (let j = 0; j < outlineSharp.length; j++) {
                      bdf.drawText(set[i], id('image'), {
                        colour: outlineColor,
                        x: xOffset + (outlineSharp[j][0] + 1),
                        y: (i * tileHeight + yOffset) + (outlineSharp[j][1] + 1),
                        kerningBias: tileWidth - w
                      });
                    }
                    break;
                  case 'smooth':
                    if (id('shadow-use').checked) {
                      switch (shadowType) {
                        case 'sharp':
                          for (let j = 0; j < shadowSharpOutlineSmooth.length; j++) {
                            bdf.drawText(set[i], id('image'), {
                              colour: shadowColor,
                              x: xOffset + (shadowSharpOutlineSmooth[j][0] + 2),
                              y: (i * tileHeight + yOffset) + (shadowSharpOutlineSmooth[j][1] + 2),
                              kerningBias: tileWidth - w
                            });
                          }
                          break;
                        case 'smooth':
                          for (let j = 0; j < shadowSmoothOutlineSmooth.length; j++) {
                            bdf.drawText(set[i], id('image'), {
                              colour: shadowColor,
                              x: xOffset + (shadowSmoothOutlineSmooth[j][0] + 2),
                              y: (i * tileHeight + yOffset) + (shadowSmoothOutlineSmooth[j][1] + 2),
                              kerningBias: tileWidth - w
                            });
                          }
                          break;
                      }
                    }
                    for (let j = 0; j < outlineSmooth.length; j++) {
                      bdf.drawText(set[i], id('image'), {
                        colour: outlineColor,
                        x: xOffset + (outlineSmooth[j][0] + 1),
                        y: (i * tileHeight + yOffset) + (outlineSmooth[j][1] + 1),
                        kerningBias: tileWidth - w
                      });
                    }
                    break;
                }
                bdf.drawText(set[i], id('image'), {
                  colour: foreground,
                  x: xOffset + 1,
                  y: (i * tileHeight + yOffset) + 1,
                  kerningBias: tileWidth - w
                });
              } else {
                if (id('shadow-use').checked) {
                  switch (shadowType) {
                    case 'sharp':
                      for (let j = 0; j < shadowSharp.length; j++) {
                        bdf.drawText(set[i], id('image'), {
                          colour: shadowColor,
                          x: xOffset + shadowSharp[j][0],
                          y: (i * tileHeight + yOffset) + shadowSharp[j][1],
                          kerningBias: tileWidth - w
                        });
                      }
                      break;
                    case 'smooth':
                      for (let j = 0; j < shadowSmooth.length; j++) {
                        bdf.drawText(set[i], id('image'), {
                          colour: shadowColor,
                          x: xOffset + shadowSmooth[j][0],
                          y: (i * tileHeight + yOffset) + shadowSmooth[j][1],
                          kerningBias: tileWidth - w
                        });
                      }
                      break;
                  }
                }
                bdf.drawText(set[i], id('image'), {
                  colour: foreground,
                  x: xOffset,
                  y: i * tileHeight + yOffset,
                  kerningBias: tileWidth - w
                });
              }
            }
          });
          break;
      {% endfor %}
      case 'bdf':
        if (fontUpload.files[0]) {
          reader.onload = function() {
            let bdf = new BDF(reader.result);
            let w = bdf.glyphs[44032] ? bdf.glyphs[44032].deviceWidthX : bdf.glyphs[12288].deviceWidthX;
            for (let i = 0; i < set.length; i++) {
              ctx.fillStyle = background;
              ctx.fillRect(0, i * tileHeight, set[i].length * tileWidth, tileHeight);
              if (id('outline-use').checked) {
                switch (outlineType) {
                  case 'sharp':
                    if (id('shadow-use').checked) {
                      switch (shadowType) {
                        case 'sharp':
                          for (let j = 0; j < shadowSharpOutlineSharp.length; j++) {
                            bdf.drawText(set[i], id('image'), {
                              colour: shadowColor,
                              x: xOffset + (shadowSharpOutlineSharp[j][0] + 2),
                              y: (i * tileHeight + yOffset) + (shadowSharpOutlineSharp[j][1] + 2),
                              kerningBias: tileWidth - w
                            });
                          }
                          break;
                        case 'smooth':
                          for (let j = 0; j < shadowSmoothOutlineSharp.length; j++) {
                            bdf.drawText(set[i], id('image'), {
                              colour: shadowColor,
                              x: xOffset + (shadowSmoothOutlineSharp[j][0] + 2),
                              y: (i * tileHeight + yOffset) + (shadowSmoothOutlineSharp[j][1] + 2),
                              kerningBias: tileWidth - w
                            });
                          }
                          break;
                      }
                    }
                    for (let j = 0; j < outlineSharp.length; j++) {
                      bdf.drawText(set[i], id('image'), {
                        colour: outlineColor,
                        x: xOffset + (outlineSharp[j][0] + 1),
                        y: (i * tileHeight + yOffset) + (outlineSharp[j][1] + 1),
                        kerningBias: tileWidth - w
                      });
                    }
                    break;
                  case 'smooth':
                    if (id('shadow-use').checked) {
                      switch (shadowType) {
                        case 'sharp':
                          for (let j = 0; j < shadowSharpOutlineSmooth.length; j++) {
                            bdf.drawText(set[i], id('image'), {
                              colour: shadowColor,
                              x: xOffset + (shadowSharpOutlineSmooth[j][0] + 2),
                              y: (i * tileHeight + yOffset) + (shadowSharpOutlineSmooth[j][1] + 2),
                              kerningBias: tileWidth - w
                            });
                          }
                          break;
                        case 'smooth':
                          for (let j = 0; j < shadowSmoothOutlineSmooth.length; j++) {
                            bdf.drawText(set[i], id('image'), {
                              colour: shadowColor,
                              x: xOffset + (shadowSmoothOutlineSmooth[j][0] + 2),
                              y: (i * tileHeight + yOffset) + (shadowSmoothOutlineSmooth[j][1] + 2),
                              kerningBias: tileWidth - w
                            });
                          }
                          break;
                      }
                    }
                    for (let j = 0; j < outlineSmooth.length; j++) {
                      bdf.drawText(set[i], id('image'), {
                        colour: outlineColor,
                        x: xOffset + (outlineSmooth[j][0] + 1),
                        y: (i * tileHeight + yOffset) + (outlineSmooth[j][1] + 1),
                        kerningBias: tileWidth - w
                      });
                    }
                    break;
                }
                bdf.drawText(set[i], id('image'), {
                  colour: foreground,
                  x: xOffset + 1,
                  y: (i * tileHeight + yOffset) + 1,
                  kerningBias: tileWidth - w
                });
              } else {
                if (id('shadow-use').checked) {
                  switch (shadowType) {
                    case 'sharp':
                      for (let j = 0; j < shadowSharp.length; j++) {
                        bdf.drawText(set[i], id('image'), {
                          colour: shadowColor,
                          x: xOffset + shadowSharp[j][0],
                          y: (i * tileHeight + yOffset) + shadowSharp[j][1],
                          kerningBias: tileWidth - w
                        });
                      }
                      break;
                    case 'smooth':
                      for (let j = 0; j < shadowSmooth.length; j++) {
                        bdf.drawText(set[i], id('image'), {
                          colour: shadowColor,
                          x: xOffset + shadowSmooth[j][0],
                          y: (i * tileHeight + yOffset) + shadowSmooth[j][1],
                          kerningBias: tileWidth - w
                        });
                      }
                      break;
                  }
                }
                bdf.drawText(set[i], id('image'), {
                  colour: foreground,
                  x: xOffset,
                  y: i * tileHeight + yOffset,
                  kerningBias: tileWidth - w
                });
              }
            }
          }
          reader.readAsText(fontUpload.files[0]);
        }
        break;
    }

    id('download').style.display = 'block';
  });

  id('download').addEventListener('click', (e) => {
    e.target.href = id('image').toDataURL();
  });

  id('outline-use').addEventListener('change', function() {
    if (this.checked) {
      outline.forEach(e => e.style.display = 'flex');
    } else {
      outline.forEach(e => e.style.display = '');
    }
  });

  id('shadow-use').addEventListener('change', function() {
    if (this.checked) {
      shadow.forEach(e => e.style.display = 'flex');
    } else {
      shadow.forEach(e => e.style.display = '');
    }
  });

  let paletteWindow = document.createElement('div');
  paletteWindow.id = 'palette';
  let paletteGrid = document.createElement('div');
  paletteGrid.classList.add('palette-grid');

  tlp.forEach(e => {
    let tlpItem = document.createElement('div');
    tlpItem.style.backgroundColor = '#' + e;
    tlpItem.addEventListener('click', function() {
      this.parentElement.parentElement.parentElement.getElementsByTagName('input')[0].value = '#' + e;
    });
    paletteGrid.append(tlpItem);
  });

  paletteWindow.append(paletteGrid);

  function palette(e) {
    if (id('palette')) {
      if (e.nextElementSibling) {
        id('palette').remove();
      } else {
        id('palette').remove();
        e.after(paletteWindow);
      }
    } else {
      e.after(paletteWindow);
    }
  }

  id('font').addEventListener('change', function() {
    if (this.value == 'bdf') {
      fontUpload.click();
    }
  });
</script>